KEYCLOAK_BASE_URL=http://localhost:9090
KEYCLOAK_REALM=YOUR_REALM_NAME
KEYCLOAK_CLIENT_ID=YOUR_CLIENT_ID
KEYCLOAK_CLIENT_SECRET=YOUR_CLIENT_SECRET_KEY

# Kafka broker address (EXTERNAL listener exposed to host)
KAFKA_BROKERS=localhost:9093

#Postgres
DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_USER=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_SSLMODE=disable (local), require or verify-full (Aurora)

# For register, login and verify token workflow
TEST_USER_EMAIL=YOUR_EMAIL
TEST_USER_PASS=YOUR_PASSWORD