KEYCLOAK_BASE_URL=http://localhost:9090
KEYCLOAK_REALM=YOUR_REALM_NAME
KEYCLOAK_CLIENT_ID=YOUR_CLIENT_ID
KEYCLOAK_CLIENT_SECRET=YOUR_CLIENT_SECRET_KEY

# For register, login and verify token workflow
TEST_USER_EMAIL=YOUR_EMAIL
TEST_USER_PASS=YOUR_PASSWORD